.footerBox{
    /* background-color: red; */
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
}

.bigTitle{
    font-size: large;
    font-weight: bold;
}

.footerTitle{
    color: gray;
    font-weight: bold;
}

.dot {
    margin: 1rem 1.3rem;
    height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.footerLogo{
    margin: 0.6rem;
    /* background-color: red; */
    height: 15px;
    width: 15px;
}